* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #1f242d;
  --bg-color-2: #2e2e2e;
  --text-color: #fff;
  --main-color: #d70108;
  --main-color-dark: #3c0002;

  --violet: #e72a79;
  --blue: #1674ea;
  --green: #24cc63;
}

.containerGeneral {
  width: 100vw;
  padding: 0 50px;
}

.active span{
  color: var(--main-color);
}

.heading {
  text-align: center;
  font-size: 2.2rem;
  color: var(--text-color);
}
.heading span {
  color: var(--main-color);
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e5030a;
}
